alembic==1.16.5
fastapi==0.116.1
firebase-admin==6.6.0
geoalchemy2==0.18.0
passlib[bcrypt]==1.7.4
psycopg[binary]==3.2.9
pydantic-settings==2.10.1
python-jose[cryptography]==3.5.0
slowapi==0.1.8
sqlalchemy==2.0.43
structlog==24.2.0
sentry-sdk==1.50.1
uvicorn[standard]==0.35.0